<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">PrepApp</a>

        <div>
            <a class="btn btn-outline-light" href="/index.html">Home</a>
            <a class="btn btn-outline-light" href="/pages/dashboard.html">Dashboard</a>
            <a class="btn btn-outline-light" href="/pages/weak.html">Weak</a>
            <a class="btn btn-outline-light" href="/pages/all.html">All Questions</a>
        </div>
    </div>
</nav>